* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-wrapper {
  background: linear-gradient(to bottom, #323264, #A54B5F);
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 83.333%;
  margin: 0 auto;
}

.haeder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__items .header__logo {
  padding-bottom: 30px;
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.haeder-items {

}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

.hero__logo {
  height: 100%;
}

.hero__img {
  height: 100vh;
  margin-top: -131px;
}

.hero__scroll {
  position: absolute;
  bottom: 21px;
  right: 1201px;
}

.header__link {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  margin: 5px 7px;
  border-radius: 8px;
  transition: 0.5s ease;
}

.header__link:hover {
  background-color: #FFFFFF33;
}

.header__link-active {
  background-color: #F0145A;
}

.header__divider {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 7px;
}

.haeder__link_reg {
  font-weight: 400;
}

.header__burger {
  width: 40px;
  height: 50px;
  cursor: pointer;
}

.header__burger span {
  width: 100%;
  height: 4px;
  background-color: #fff;
  display: inline-block;
  position: relative;
}

.header__burger span::before, .header__burger span::after {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 8px;
  left: 0;
}

.header__burger span::after {
  top: 18px;
  left: 0;
}

#next-to-hero {
  height: 200vh;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-a {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  margin-top: 16px;
  margin-left: 15px;
  transition: 0.5s ease;
}

.nav-a:hover {
  border-bottom: 3px solid #fff;
  font-weight: 700;
}


.main-cont {
  display: flex;
  justify-content: space-between;
  margin: 180px;
}

.main-title a {
  display: block;
  font-family: "Montserrat", serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 38px;
  color: #B3B3BA;
  margin-bottom: 30px;
  margin-left: 60px;
  transition: 0.5s ease;
}

.main-title a:hover {
  opacity: 0, 5;
}

.span {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 38px;
  color: #B3B3BA;
  background: linear-gradient(45deg, #EF8080, #F0145A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-desc {
  display: block;
  justify-content: space-between;
  margin-right: 155px;
}

.hero__divider {
  content: "";
  display: flex;
  width: 4px;
  height: 303px;
  border-right: 4px solid #FFFFFF4D;
  margin-right: 60px;
}

.main-desc h2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.main-desc p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 19px;
  color: #fff;
  margin-top: 30px;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 0,9166666667%
  }
}

@media screen and (max-width: 800px) {
  .header>.header__logo {
    display: none;
  }
  .header__items .header__logo {
    display: block;
  }
  .header__burger {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    display: flex;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
